html {
  background: #F5F5DC;
}

html, body, main {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  font-size: 20pt;
  font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
  margin-top: 0;
}

h1 {
  font-size: 40pt;
}

@media (min-device-width: 1200px) {
  body {
    font-size: 25pt;
  }
  h1 {
    font-size: 50pt;
  }
}

@media (min-device-width: 2000px) {
  body {
    font-size: 30pt;
  }
  h1 {
    font-size: 60pt;
  }
}

code {
  font-family: "Source Code Pro Medium", monospace;
}

blockquote {
  border-left: 5px solid rgb(0, 0, 0, 0.5);
  margin-left: 1em;
  padding-left: 1em;
}
